
.layout_box{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}


.layout_box_top{
  display: flex;
  flex-direction: row;
}


.layout_box_content {
  display: flex;
  flex-direction: row;

}
.layout_box_content_left {
  width: 220px;
  height: 100%;
  min-height: 700px;
  background: #404040;
}
.layout_box_content_right {
  width: 100%;
  background-color: lightgrey;
}
.layout_box_content_right .top_breadcrumb{
  padding: 10px 10px 0 10px;
}

.layout_box_content_right_body {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  background-color: white;


}

.main {
  padding: 0 8px;
  flex: 1 0 auto;
}
